html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Grid starts here*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex-basis: 100%;
}

@media screen and (min-width: 800px) {
    .column {
        flex: 1;
    }
}

/*Grid ends here*/






/* Mobile first styles go here */

.brand img {
    width: 135px;
    margin-left: 30px;
    margin-top: 39px;
}


#brand-mobile {
    width: 135px;
    margin-left: 30px;
    margin-top: 39px;
}

.mobile-menu {
    background-color: #F37222;
    height: 100vh;
    width: 70vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 320px;
    transform: translateX(-50rem);
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.5s;
}

.mobile-menu ul {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 3rem;
    font-size: 1.2rem;
    text-align: left;
    text-transform: capitalize;
    height: 480px;
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    list-style: none;
}

.mobile-menu a {
    text-decoration: none;
    color: #FFFFFF;
}



#menyAvPaa {
    display: none;
}

#menyAvPaa:checked~.mobile-menu {
    transform: translateX(0rem);
}

#burger {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 1.5rem;
    right: 15px;
    top: 44px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 999;
}

#burger>i {
    height: 4px;
    color: #F37222;
    transition: 0.5s;
    z-index: 999;
}

.fas {
    font-size: 1.6rem;
}



.nav-list {
    display: none;
}

.left-accent img {
    height: 190px;
    position: absolute;
    z-index: -2;
    margin-top: 163px;
}

.right-accent img {
    height: 190px;
    position: absolute;
    z-index: -2;
    margin-top: 485px;
}

.left-accent-two {
    display: none;
}

.right-accent-two {
    display: none;
}

.right-accent {
    display: flex;
    justify-content: end;
}

.hero-title h1 {
    font-family: sofia pro soft, sofia-pro, -apple-system, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #21405F;
    text-transform: capitalize;
    margin-top: 100px;
}





.cartao-de-credito,
.credito-pessoal,
.tv-net-voz,
.energia {
    display: flex;
    flex-direction: row-reverse;
    width: 300px;
    height: 110px;
    border-radius: 12px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 2px 0px 11px rgba(0, 0, 0, 0.12);
}

#simulator-frontpage {

    margin-top: 35px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

#simulator-frontpage img {

    width: 69px;
}

#simulator-frontpage h4 {
    font-family: sofia pro soft, sofia-pro, -apple-system, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    color: #21405F;
}

#simulator-frontpage p {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
    color: #21405F;

}

.credito-pessoal,
.tv-net-voz,
.energia {
    margin-top: 15px;
}

.caret {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.caret img {
    width: 22px;
}


.title-trusted-partners h2 {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.2rem;
    margin-top: 73px;
    color: #21405F;
    text-align: center;
}

.title-trusted-partners p {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: .9rem;
    margin-top: 20px;
    color: #21405F;
    text-align: center;
}

#partners div {
    width: 92px;
    height: 92px;
    background: #FFFFFF;
    box-shadow: 2px 0px 11px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#partners {
    display: flex;

    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
    align-items: center;
    height: 497px;
    flex-flow: wrap;
    margin-top: 60px;


}

#partners img {
    width: 60px;

}

#cartao-de-credito-promo h2 {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.2rem;
    margin-top: 80px;
    color: #21405F;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#cartao-de-credito-promo img {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;

}





span {

    background: #FFFFFF;
    color: 4C4D5C;
    font-size: 1em;
    font-variant: small-caps;
    cursor: pointer;
    display: flex;

    justify-content: center;
    box-shadow: 2px 0px 11px rgba(0, 0, 0, 0.12);
    border-radius: 0.313em;
    padding-top: 15px;
    padding-right: 28px;
    padding-left: 28px;
    padding-bottom: 10px;
    width: 70%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;

}


.slide {


    height: 0px;
    text-align: center;
    transition: height .4s ease;
    padding-left: 0px;
    background-color: #FFFFFF;
    box-shadow: 2px 0px 11px rgba(0, 0, 0, 0.12);
    max-height: 200px;
    overflow-y: scroll;
    position: relative;
    z-index: 888;
    margin-left: auto;
    margin-right: auto;
    width: 70%;



}

.slide li {
    padding: 10px;

    list-style: none;

}


#touch {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touch:checked+.slide {
    height: 300px;
}




.dropdown li a {
    text-decoration: none;
    color: #2d2f31;
}

.group-dropdown-button {


    width: 100%;

    height: 74px;


}

.dropdown {

    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-top: 60px;
    position: relative;
    z-index: 30;
    margin-left: auto;
    margin-right: auto;
}


.horizontal-separator {
    margin-top: 34px;
    margin-bottom: 50px;
    border-bottom: 3px dashed #d2d2d2;
    width: 100%;
    height: 2px;
    z-index: 1;
}


.tagline-icon {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 90%;
}

.tagline-icon img {
    width: 69px;
    margin-top: 0px !important;
    margin-left: 0px !important;



}

.tagline-icon h4 {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1rem;

    color: #21405F;


}

.saiba-como {

    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-left: auto;

}

.saiba-como a {

    color: #F37222;

    text-decoration: none;
    text-transform: capitalize;
    transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 0.8rem;

    line-height: 1.8;
}


.button-orange {
    display: none;
}

.personal-loan-ilustrated {
    margin-top: 80px;
    width: 299px;
}

#personal-loan-promo h2 {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.2rem;
    margin-top: 73px;
    color: #21405F;
    text-align: center;

}

.button-orange-mobile {
    display: flex;
    background-color: #F37222;
    justify-content: center;
    height: 2.5rem;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 30px;
}

.button-orange-mobile a {
    text-decoration: none;
    text-transform: capitalize;

    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 1.8;
}

.tagline-icon-loan {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.tagline-icon-loan img {
    width: 69px;
    margin-right: 10px;
}

.tagline-icon-loan h4 {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1rem;
    color: #21405F;
    width: 70%;
}

.saiba-como-loan {

    display: flex;
    justify-content: space-around;
    width: 100%;

    position: absolute;



}


.saiba-como-loan a {

    color: #F37222;

    text-decoration: none;
    text-transform: capitalize;
    transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 0.8rem;

    line-height: 1.8;
}




.tv-net-voz-promo-highlights h2 {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.2rem;
    margin-top: 73px;
    color: #21405F;
    text-align: center;
}

.tv-ilustrated {
    margin-top: 80px;
    width: 299px;
}

.button-orange-tv {
    display: none;

}

.button-orange-tv-mobile {

    display: flex;
    background-color: #F37222;
    justify-content: center;
    height: 2.5rem;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 30px;
}

.button-orange-tv-mobile a {
    text-decoration: none;
    text-transform: capitalize;

    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 1.8;
}

.tagline-icon-tv {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.tagline-icon-tv img {
    width: 69px;
    margin-right: 10px;
}

.tagline-icon-tv h4 {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1rem;
    color: #21405F;
    width: 70%;
}




.saiba-como-tv {

    display: flex;
    justify-content: space-around;
    width: 100%;

    position: absolute;



}


.saiba-como-tv a {

    color: #F37222;

    text-decoration: none;
    text-transform: capitalize;
    transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 0.8rem;

    line-height: 1.8;
}

#tv-net-voz-promo {
    margin-top: 80px;
}


.energy-promo-highlights {
    margin-top: 112px;
}

.energy-promo-highlights h2 {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.2rem;
    margin-top: 73px;
    color: #21405F;
    text-align: center;
}

.energy-ilustrated {
    width: 299px;
}

.button-orange-energy {
    display: none;
}

.button-orange-energy-mobile {
    display: flex;
    background-color: #F37222;
    justify-content: center;
    height: 2.5rem;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 30px;
}

.button-orange-energy-mobile a {
    text-decoration: none;
    text-transform: capitalize;
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 1.8;
}


.tagline-icon-energy {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.tagline-icon-energy img {
    width: 69px;
    margin-right: 10px;
}

.tagline-icon-energy h4 {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1rem;
    color: #21405F;
    width: 60%;
}

.saiba-como-energy {

    display: flex;
    justify-content: space-around;
    width: 100%;

    position: absolute;



}


.saiba-como-energy a {

    color: #F37222;

    text-decoration: none;
    text-transform: capitalize;
    transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 0.8rem;

    line-height: 1.8;
}




.newsletter {
    background-color: #F5F4F3;
    margin-top: 150px;
    padding-top: 20px;
    display: flex;
    align-items: center
}

.newsletter h2 {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    padding-top: 20px;
    text-align: center;
    color: #21405F;
}

.newsletter p {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding-top: 20px;
    text-align: center;
    color: #21405F;
}


form {

    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: #F5F4F3;
    padding: 10px;
    border-radius: 5px;
    font-weight: light;
    position: relative;
    margin-bottom: 30px;
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}


input,
button {
    width: 90%;
    height: 30px;

    margin: 10px auto;
    border-radius: 5px;
    border-color: transparent;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

input {
    text-indent: 20px;
}

button {
    color: #fff;
    background-color: #F37222;
}

input:focus {
    outline-color: #F37222;
}

#main-footer {
    background-color: #4C4D5C;
    height: 300px;
    display: flex;
    justify-content: center;
}

.brand-footer {
    display: flex;
    justify-content: center;
    padding-top: 34px;
}

.brand-footer img {
    height: 40px;
}

.vertical-rule {
    display: inline-block;
    color: #FFFFFF;
    background-color: #FFFFFF;
    position: relative;

    height: 20px;
    width: 2px;
}

.menu-footer-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 38px;
    width: 300px;
}

.menu-footer-mobile a {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1rem;
}

.made-in-pt img {
    width: 26px;
}

.made-in-pt p {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1rem;
}

.made-in-pt {
    display: flex;
    width: 217px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 20px;
}

.footer-rule {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -12px;
    min-height: 0;
    height: 1px;
    border-top: 1px solid #ccc;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.social-media {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.social-media p {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1rem;
}

.social-media-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 124px;
}


#footer-copyright {
    height: 80px;
    background-color: #5F6071;
    display: flex;
    justify-content: center;
    align-items: center;

}

#footer-copyright p {
    font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-size: .7rem;

}




.menu-footer-desktop {
    display: none;
}

.menu-compare {
    display: none;
}

.menu-legal {
    display: none;
}







@media screen and (min-width: 800px) {
    /* Desktop styles go here */









    .right-accent img {
        height: 399px;
        position: absolute;
        z-index: -2;
        margin-top: 1100px;
    }


    .brand img {
        width: 289px;

    }



    #burger {
        display: none;
    }

    .mobile-menu {
        display: none;
    }


    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-list {
        display: flex;

    }

    .nav-list ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        width: 650px;
        padding-left: 0px;


    }

    .nav-list ul a {

        color: #21405F;
        display: flex;
        font-family: sofia pro soft, sofia-pro, -apple-system, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: 600;




    }

    .link.anim-classic {
        border-bottom: 3px solid transparent;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
    }

    .link.anim-classic:hover {
        border-bottom: 3px solid #F37222;
    }

    .left-accent img {
        height: 400px;
        position: absolute;
        z-index: -2;
        margin-top: 384px;
    }




    .hero-title h1 {
        font-family: sofia pro soft, sofia-pro, -apple-system, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        text-align: center;
        color: #21405F;
        text-transform: capitalize;
        margin-top: 100px;
        font-size: 3rem;
    }

    #simulator-frontpage {

        margin-top: 90px;
        width: 990px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }


    .cartao-de-credito,
    .credito-pessoal,
    .tv-net-voz,
    .energia {
        display: flex;
        flex-direction: column;
        width: 230px;
        height: 256px;
        border-radius: 12px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 2px 0px 11px rgba(0, 0, 0, 0.12) !important;
    }




    #simulator-frontpage img {

        width: 146px;
    }

    #simulator-frontpage h4 {
        font-family: sofia pro soft, sofia-pro, -apple-system, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        text-transform: capitalize;
        color: #21405F;
    }

    .cartao-de-credito,
    .credito-pessoal,
    .tv-net-voz,
    .energia {
        margin-top: 0px;

    }


    .cartao-de-credito,
    .credito-pessoal,
    .tv-net-voz,
    .energia {

        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .cartao-de-credito:hover,
    .credito-pessoal:hover,
    .tv-net-voz:hover,
    .energia:hover,
    .cartao-de-credito:focus,
    .credito-pessoal:focus,
    .tv-net-voz:focus,
    .energia:focus,
    .cartao-de-credito:active,
    .credito-pessoal:active,
    .tv-net-voz:active,
    .energia:active {

        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    .caret {
        display: flex;
        justify-content: center;
        margin-top: 170px;
    }

    .caret img {
        width: 32px;
    }


    .title-trusted-partners h2 {
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 2rem;
        margin-top: 120px;
        color: #21405F;

        text-align: center;
    }


    .title-trusted-partners p {
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 1.2rem;
        margin-top: 20px;
        color: #21405F;
        text-align: center;
    }


    #partners div {
        width: 120px;
        height: 120px;
        background: #FFFFFF;
        box-shadow: 2px 0px 11px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #partners {
        display: flex;

        max-width: 37%;
        margin-right: auto;
        margin-left: auto;
        justify-content: space-evenly;
        align-items: center;
        height: 280px;
        flex-flow: wrap;
        margin-top: 60px;
        margin-bottom: 100px;

    }

    #partners img {
        width: 60px;

    }



    #cartao-de-credito-promo h2 {
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 1.2rem;
        margin-top: 80px;
        color: #21405F;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .credit-card-ilustrated {
        width: 30%;
        display: flex;
        margin-right: 340px;


    }





    span {

        background: #FFFFFF;
        color: 4C4D5C;
        font-size: 1em;
        font-variant: small-caps;
        cursor: pointer;
        display: flex;

        justify-content: center;
        box-shadow: 2px 0px 11px rgba(0, 0, 0, 0.12);
        border-radius: 0.313em;
        padding-top: 15px;
        padding-right: 28px;
        padding-left: 28px;
        padding-bottom: 10px;
        width: 70%;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;

    }


    .slide {

        display: block;
        height: 0px;
        text-align: center;
        transition: height .4s ease;
        padding-left: 0px;
        background-color: #FFFFFF;
        box-shadow: 2px 0px 11px rgba(0, 0, 0, 0.12);
        max-height: 200px;
        overflow-y: scroll;
        position: relative;
        z-index: 888;
        margin-left: auto;
        margin-right: auto;
        width: 70%;



    }

    .slide li {
        padding-left: 0px !important;

        list-style: none;

    }


    #touch {
        position: absolute;
        opacity: 0;
        height: 0px;
    }

    #touch:checked+.slide {
        height: 300px;
    }




    .dropdown li a {
        text-decoration: none;
        color: #2d2f31;
    }

    .group-dropdown-button {


        width: 23%;
        margin-left: 292px;
        height: 74px;
        position: absolute;
        z-index: 60;
        margin-top: 133px;

    }

    .dropdown {

        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        margin-top: 60px;
        position: relative;
        z-index: 30;
        margin-left: auto;
        margin-right: auto;
    }


    .promo-highlights>.desktop-screen-rule {
        margin-left: 354px;
        margin-top: 280px !important;
        margin-bottom: 0px !important;
        border-bottom: 3px dashed #d2d2d2;
        width: 33%;
        height: 2px;
        position: absolute;
        z-index: -300;
    }

    #cartao-de-credito-promo h2 {

        width: 30%;
        margin-left: 350px;
        position: absolute;
        z-index: 56;
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 2rem;
        text-align: left;
        color: #21405F;

    }


    .tagline-icon {

        margin-top: -175px;

        width: 35%;

        margin-left: 345px;
    }

    .tagline-icon img {
        width: 123px;
        margin-top: 0px !important;
        margin-left: 0px !important;



    }

    .tagline-icon h4 {
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-style: 100;
        font-weight: normal;
        line-height: normal;
        font-size: 1.5rem;

        color: #21405F;
        width: 68%;


    }

    .saiba-como {

        display: flex;
        justify-content: space-around;
        margin-left: auto;
        margin-left: auto;
        width: 10%;
        margin-left: 506px;
        margin-top: -27px;

    }


    .saiba-como a {

        color: #F37222;

        text-decoration: none;
        text-transform: capitalize;
        transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 0.8rem;

        line-height: 1.8;
    }



    .button-orange {
        display: flex !important;
        justify-content: center;
        align-items: center;
        background-color: #F37222;

        width: 14%;
        height: 3rem;
        margin-left: 690px;
        margin-top: 190px;
        position: absolute;
        z-index: 70;
        border-radius: 5px;
    }

    .button-orange a {
        text-decoration: none;
        text-transform: capitalize;
        transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 1rem;
        color: #FFFFFF;
        line-height: 1.8;
    }

    // Pulse grow starts here



    @-webkit-keyframes hvr-pulse-grow {
        to {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    @keyframes hvr-pulse-grow {
        to {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    .hvr-pulse-grow {


        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }

    .hvr-pulse-grow:hover,
    .hvr-pulse-grow:focus,
    .hvr-pulse-grow:active {
        -webkit-animation-name: hvr-pulse-grow;
        animation-name: hvr-pulse-grow;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
    }





    // Pulse grow endz here


    // .left-accent-two{
    //     height: 400px;
    //     position: absolute;
    //     z-index: -999;
    //     margin-top: 700px;
    // }
    // .right-accent-two{
    //     display: none;
    // }






    // Personal loan section starts here












    .tagline-icon-loan h4 {
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-style: 100;
        font-weight: normal;
        line-height: normal;
        font-size: 1.5rem;
        color: #21405F;
        width: 68%;

    }

    .personal-loan-ilustrated {

        width: 30%;
        margin-right: 285px;
        position: absolute;
        margin-left: 351px;

        z-index: 10;
    }

    #personal-loan-promo {
        display: flex;
    }

    #personal-loan-promo .horizontal-separator {
        margin-right: -299px;
        margin-top: 434px;
        margin-bottom: 50px;
        border-bottom: 3px dashed #d2d2d2;
        width: 30%;
        height: 2px;
        z-index: 1;
        position: absolute;
        z-index: 1;
        margin-left: 942px;
    }

    .button-orange-mobile {
        display: none !important;

    }


    #personal-loan-promo .button-orange {
        display: flex !important;
        justify-content: center;
        align-items: center;
        background-color: #F37222;
        height: 3rem;
        border-radius: 5px;
        margin-left: 940px;
        margin-top: 360px;
    }




    #personal-loan-promo .button-orange a {
        text-decoration: none;
        text-transform: capitalize;
        transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 1rem;
        color: #FFFFFF;
        line-height: 1.8;
    }





    #personal-loan-promo {
        margin-top: 150px;
    }

    .saiba-como-loan {

        display: flex;
        justify-content: space-around;
        width: 10%;
        margin-top: 559px;
        margin-left: 1067px;
        position: absolute;



    }


    .saiba-como-loan a {

        color: #F37222;

        text-decoration: none;
        text-transform: capitalize;
        transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 0.8rem;

        line-height: 1.8;
    }

    #personal-loan-promo h2 {

        margin-left: 940px;
        margin-top: 260px;
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 2rem;
        width: 23%;
        color: #21405F;
        text-align: left;
        z-index: 12;
    }

    .tagline-icon-loan {
        display: flex;
        justify-content: space-around;
        width: 30%;
        margin-left: 927px;

        margin-top: 451px;

        position: absolute;

        width: 30%;
        margin-top: 459px;

    }

    .tagline-icon-loan img {
        width: 123px;
        margin-right: 10px;
    }


    .tagline-icon-loan h4 {
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-style: 100;
        font-weight: normal;
        line-height: normal;
        font-size: 1.5rem;
        color: #21405F;
        width: 68%;

    }

    // Personal loan section ends here




    // tv-net-voz section starts here


    #tv-net-voz-promo {


        display: flex;

        margin-top: 400px;
    }

    .tv-ilustrated {
        position: absolute;
        z-index: -500;
        width: 30%;
        margin-top: 0px;
        margin-left: 939px;
    }

    .tv-net-voz-promo-highlights {
        display: flex;

        justify-content: space-between;

        margin-top: 430px;

    }

    .tv-net-voz-promo-highlights h2 {

        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 2rem;
        width: 23%;
        color: #21405F;
        text-align: left;
        z-index: 12;

        position: absolute;
        z-index: 400;
        margin-left: 353px;
        margin-top: 100px;
        width: 28%;

    }


    .button-orange-tv-mobile {
        display: none;
    }

    .button-orange-tv {
        display: flex !important;
        justify-content: center;
        align-items: center;
        background-color: #F37222;
        height: 3rem;
        border-radius: 5px;
        position: absolute;
        z-index: 300;
        width: 14%;
        margin-top: 199px;
        margin-left: 353px;

    }


    #tv-net-voz-promo .button-orange-tv a {
        text-decoration: none;
        text-transform: capitalize;
        transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 1rem;
        color: #FFFFFF;
        line-height: 1.8;
    }

    #tv-net-voz-promo .horizontal-separator {
        position: absolute;
        z-index: -777;
        margin-top: 279px;
        width: 26%;
        margin-left: 352px;
    }

    .tagline-icon-tv {

        width: 27%;
        margin-top: 300px;
        margin-left: 351px;
        display: flex;
        justify-content: space-around;
    }

    .tagline-icon-tv img {
        width: 123px;
    }

    .tagline-icon-tv h4 {
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-style: 100;
        font-weight: normal;
        line-height: normal;
        font-size: 1.5rem;
        color: #21405F;
        width: 68%;
    }




    .saiba-como-tv {
        margin-top: 395px;
        width: 8%;
        margin-left: 508px;
    }


    .saiba-como-tv a {
        color: #F37222;
        text-decoration: none;
        text-transform: capitalize;
        transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 0.8rem;
        line-height: 1.8;
    }



    // tv-net-voz section ends here

    // Energy starts here

    .energy-promo-highlights {}

    #energy-promo {
        display: flex;
        margin-top: 150px;

    }

    .energy-ilustrated {
        position: absolute;
        z-index: -500;
        width: 30%;
        margin-left: 359px;
    }


    .energy-promo-highlights h2 {

        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 2rem;
        width: 23%;
        color: #21405F;
        text-align: left;
        z-index: 12;
        margin-left: 976px;
        margin-top: 100px;
        position: absolute;
        z-index: 400;

        width: 28%;

    }

    .button-orange-energy-mobile {
        display: none;
    }

    .button-orange-energy {
        display: flex !important;
        justify-content: center;
        align-items: center;
        background-color: #F37222;
        height: 3rem;
        border-radius: 5px;
        position: absolute;
        z-index: 300;
        width: 14%;
        margin-left: 974px;
        margin-top: 208px;

    }

    #energy-promo .button-orange-energy a {
        text-decoration: none;
        text-transform: capitalize;
        transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 1rem;
        color: #FFFFFF;
        line-height: 1.8;
    }



    #energy-promo .horizontal-separator {
        position: absolute;
        z-index: -777;
        margin-left: 973px;
        margin-top: 276px;
        width: 28%;

    }

    .tagline-icon-energy {

        width: 28%;
        margin-left: 973px;
        display: flex;
        justify-content: space-around;
        margin-top: 306px;

    }


    .tagline-icon-energy img {
        width: 123px;
    }

    .tagline-icon-energy h4 {
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-style: 100;
        font-weight: normal;
        line-height: normal;
        font-size: 1.5rem;
        color: #21405F;
        width: 68%;
    }




    .saiba-como-energy {
        margin-top: -23px;
        width: 8%;
        margin-left: 1123px;
    }


    .saiba-como-energy a {
        color: #F37222;
        text-decoration: none;
        text-transform: capitalize;
        transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 0.8rem;
        line-height: 1.8;
    }


    // Energy ends here

    // Forms starts here

    .newsletter {
        background-color: #F5F4F3;
        margin-top: 200px;
        padding-top: 20px;
        height: 40%;
    }

    .newsletter h2 {
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 2rem;
        padding-top: 20px;
        text-align: center;
        color: #21405F;
        margin-bottom: 0px;
    }

    .newsletter p {
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-size: 1.2rem;

        text-align: center;
        color: #21405F;

    }





    input,
    button {
        width: 14%;
        height: 3rem;

        margin: 4px;
        border-radius: 5px;
        border-color: transparent;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }

    input {
        text-indent: 20px;
        width: 60%;
    }

    button {
        color: #fff;
        background-color: #F37222;
    }

    input:focus {
        outline-color: #F37222;
    }


    form {

        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #F5F4F3;
        padding: 10px;
        border-radius: 5px;
        font-weight: light;
        position: relative;
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    // Forms ends here


    // Footer starts here




    .brand-footer {
        width: 289px;
    }

    .brand-footer {
        display: flex;
        justify-content: flex-start;
        margin-left: -451px;
        padding-top: 34px;
    }

    .brand-footer img {
        height: 48px;
    }

    .vertical-rule {
        display: none;

    }

    .menu-footer-mobile {
        display: none;

    }

    .menu-footer-mobile a {
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 1rem;
    }

    .made-in-pt img {
        width: 26px;
    }

    .made-in-pt p {
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 1rem;
    }

    .made-in-pt {
        display: flex;
        width: 217px;

        justify-content: space-around;
        align-items: baseline;
        position: absolute;
        z-index: 20;
        margin-top: 222px;
        margin-left: -458px;
    }

    .footer-rule {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: -12px;
        min-height: 0;
        height: 1px;
        border-top: 1px solid #ccc;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
        width: 59%;
        margin-left: -452px;
        margin-right: auto;
        position: absolute;
        margin-top: 270px;
    }

    .social-media {
        display: flex;
        margin-left: -452px;
        margin-top: 276px;
        width: 59%;

        position: absolute;
        z-index: 100;
    }

    .social-media p {
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 1rem;
    }

    .social-media-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }


    .menu-footer-desktop,
    ul {
        display: flex;
        padding-left: 280px;

        width: 74%;

        justify-content: flex-end;
    }

    .menu-footer-desktop,
    ul li:nth-child(n+2) {
        padding-left: 50px;

    }

    .menu-footer-desktop,
    ul li {

        list-style: none;
    }

    .menu-footer-desktop,
    ul li:nth-child(n+2) {
        padding-left: 50px;
        list-style: none;
    }

    .menu-footer-desktop,
    ul a {
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 1rem;

    }


    #footer-copyright {
        height: 80px;
        background-color: #5F6071;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #footer-copyright p {
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
        font-size: .7rem;

    }

    #main-footer {
        background-color: #4C4D5C;
        height: 420px;
        display: flex;
        justify-content: center;
    }



    .menu-compare {
        display: flex;

        flex-direction: column;
        width: 189px;
        margin-left: -229px;
        position: absolute;
        z-index: 999;
    }

    .menu-compare ul {
        display: flex;

        flex-direction: column;
        padding: 0px;
    }

    .menu-compare ul a {
        font-size: 0.9rem;
    }

    .menu-compare h3 {
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 1.2rem;
        margin-bottom: 0px;
        font-weight: 600;
    }


    .menu-compare ul li:nth-child(n+2) {
        padding-left: 0px;
        padding-top: 20px;
        list-style: none;
    }

    .menu-legal {
        display: flex;

        flex-direction: column;
        width: 234px;
        margin-left: 0px;
        position: absolute;
        z-index: 999;
    }

    .menu-legal ul {
        display: flex;

        flex-direction: column;
        padding: 0px;
    }


    .menu-legal ul a {
        font-size: 0.9rem;
    }

    .menu-legal ul li:nth-child(n+2) {
        padding-left: 0px;
        padding-top: 20px;
        list-style: none;
    }


    .menu-legal h3 {
        font-family: sofia pro soft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 1.2rem;
        margin-bottom: 0px;
        font-weight: 600;
    }

    // Footer ends here
















}